<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>a template based on a page</title>
</head>
<body>
<!-- The next is dynamically generated -->

    Hello,<span wicket:id="name"></span>

    You receive this email because you are subscribed for our products.
    We just released a new version of product X.

<!-- This link is also dynamically generated -->
    Please download it <a wicket:id="downloadLink">here</a>!

    <br/><br/>
    Sincerely,
    The Marketing team


</body>
</html>